<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DepthTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="GameRootPath" value="C:\CLoudabit\{0}.lnk"/>
  </appSettings>
<userSettings>
        <DepthTracker.Properties.Settings>
                <setting name="XPinball" serializeAs="String">
                        <value>200</value>
                </setting>
                <setting name="YPinball" serializeAs="String">
                        <value>140</value>
                </setting>
                <setting name="WidthPinball" serializeAs="String">
                        <value>200</value>
                </setting>
                <setting name="HeightPinball" serializeAs="String">
                        <value>140</value>
                </setting>
                <setting name="XCar" serializeAs="String">
                        <value>200</value>
                </setting>
                <setting name="YCar" serializeAs="String">
                        <value>140</value>
                </setting>
                <setting name="WidthCar" serializeAs="String">
                        <value>200</value>
                </setting>
                <setting name="HeightCar" serializeAs="String">
                        <value>140</value>
                </setting>
                <setting name="XClicks" serializeAs="String">
                        <value>200</value>
                </setting>
                <setting name="YClicks" serializeAs="String">
                        <value>140</value>
                </setting>
                <setting name="WidthClicks" serializeAs="String">
                        <value>200</value>
                </setting>
                <setting name="HeightClicks" serializeAs="String">
                        <value>140</value>
                </setting>
                <setting name="Flip" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="ZMin" serializeAs="String">
                        <value>1000</value>
                </setting>
                <setting name="ZMax" serializeAs="String">
                        <value>1100</value>
                </setting>
                <setting name="Run" serializeAs="String">
                        <value>False</value>
                </setting>
        </DepthTracker.Properties.Settings>
    </userSettings>
</configuration>